.venue-owner-profile-page {
  display: flex;
  height: 100%;
  max-width: 100%;
  margin: 2rem 4rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-pic {
  position: relative;
  display: flex;
  min-width: 200px;
  min-height: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.profile-pic img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.profile-pic input[type="file"] {
  display: none;
}
.profile-pic label {
  display: block;
  width: 200px;
  height: 100%;
  cursor: pointer;
}
.tooltip {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px 10px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  font-size: 1.5em;
}

.profile-pic label:hover .tooltip {
  opacity: 1;
}

.profile-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.profile-details h2,
.profile-details h3,
.profile-details p {
  margin: 0;
}

.profile-details-form {
  display: flex;
  margin: 2rem;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 400px;
  gap: 10px;
}

.form-element {
  display: flex;
  padding: 10px;
  gap: 10px;
  width: inherit;
  flex-direction: column;
}
.form-element input {
  width: calc(100% - 20px);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #161b33;
  outline: #caf0f8;
}
