.event-participants-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.back-btn {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.back-btn i {
  font-size: 2rem;
}
.participants-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 50px;
  background-color: #caf0f8;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  /* flex-wrap: wrap; */
  width: 720px;
  height: 500px;
  overflow-y: scroll;
}
.participant-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  margin-top: 10px;
  background-color: #00b4d8;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  width: 600px;
  height: 40px;
}
.group-chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  width: 720px;
  height: 500px;
  overflow-y: hidden;
  overflow-x: hidden;
}
